<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "index/index.html" %}
{% block content %}
<div class="top-spacer">&nbsp;</div>

<div class="page-wrapper">

<div class="container">
<div class="span12">

<div class="row-fluid page-header">
  <div class="span6"><h2>Write your message</h2></div>
</div>   
	<form class="form-horizontal" method="post" action="{% url 'board:write' %}" id="write_action">
	{% csrf_token %}
		<fieldset>
			<legend>Write content</legend>
			<div class="control-group">
				<label class="control-label" for="input01">Title</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="subject"  autocomplete="off">
					<p class="help-block">Please write title</p>
				</div>
				<label class="control-label" for="input02">Contents</label>
				<div class="controls">
					<textarea class="input=xlarge" id="input02" name="contents" rows="5"></textarea>
					<p class="help-block">Please Write contents</p>
				</div>
					
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" id="write_btn">Write</button>
					<button type="reset" onclick='location.href="/board/lists"'>Cancel</button>
				</div>
		</fieldset>
	</form>
</div>
</div>
{% endblock content %}
